@page "/clients2"
@using Fnunez.VeterinaryClinic.ClinicManagement.BlazorClient.Client.Shared.Components.IconComponent

<h1>Clients</h1>

@if (Clients is null)
{
    <Spinner></Spinner>
    return;
}

<div class="main-action">
    <button class="btn btn-primary" @onclick="@(() => CreateClick())" @onclick:stopPropagation="true">
        <span class="oi oi-plus" aria-hidden="true"></span> Add
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Salutation</th>
            <th>Preferred Name</th>
            <th>Preferred Doctor Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Clients)
        {
            <tr>
                <td>
                    @client.ClientId
                </td>
                <td>
                    @if (IsAddOrEdit(@client.ClientId))
                    {
                        <input @bind="ToSave.FullName" />
                    }
                    else
                    {
                        @client.FullName
                    }
                </td>
                <td>
                    @if (IsAddOrEdit(@client.ClientId))
                    {
                        <input @bind="ToSave.EmailAddress" />
                    }
                    else
                    {
                        @client.EmailAddress
                    }
                </td>
                <td>
                    @if (IsAddOrEdit(@client.ClientId))
                    {
                        <input @bind="ToSave.Salutation" />
                    }
                    else
                    {
                        @client.Salutation
                    }
                </td>
                <td>
                    @if (IsAddOrEdit(@client.ClientId))
                    {
                        <input @bind="ToSave.PreferredName" />
                    }
                    else
                    {
                        @client.PreferredName
                    }
                </td>
                <td>
                    @if (IsAddOrEdit(@client.ClientId))
                    {
                        <input type="number" @bind="ToSave.PreferredDoctorId" />
                    }
                    else
                    {
                        @client.PreferredDoctorId
                    }
                </td>
                <td class="action-buttons">
                    @if (IsAddOrEdit(@client.ClientId))
                    {
                        <button class="btn btn-success me-2" @onclick="@(() => SaveClick())" @onclick:stopPropagation="true">
                            <SaveIcon></SaveIcon>
                            Save
                        </button>
                        <button class="btn btn-light me-2" @onclick="@(() => CancelClick())" @onclick:stopPropagation="true">
                            <CancelIcon></CancelIcon>
                            Cancel
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-primary me-2" @onclick="@(() => EditClick(client.ClientId))" @onclick:stopPropagation="true">
                            <EditIcon></EditIcon>
                            Edit
                        </button>

                        <button class="btn btn-danger me-2" @onclick="@(() => DeleteClick(client.ClientId))" @onclick:stopPropagation="true">
                            <DeleteIcon></DeleteIcon>
                            Delete
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>