@page "/rooms"
@using Fnunez.VeterinaryClinic.ClinicManagement.BlazorClient.Client.Shared.Components.IconComponent

<h1>Rooms</h1>

@if (Rooms is null)
{
    <Spinner></Spinner>
    return;
}

<div class="main-action">
    <button class="btn btn-primary" @onclick="@(() => CreateClick())" @onclick:stopPropagation="true">
        <span class="oi oi-plus" aria-hidden="true"></span> Add
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Rooms)
        {
            <tr>
                <td>
                    @room.Id
                </td>
                <td>
                    @if (IsAddOrEdit(@room.Id))
                    {
                        <input @bind="ToSave.Name" />
                    }
                    else
                    {
                        @room.Name
                    }
                </td>
                <td class="action-buttons">
                    @if (IsAddOrEdit(@room.Id))
                    {
                        <button class="btn btn-success me-2" @onclick="@(() => SaveClick())" @onclick:stopPropagation="true">
                            <SaveIcon></SaveIcon>
                            Save
                        </button>
                        <button class="btn btn-light me-2" @onclick="@(() => CancelClick())" @onclick:stopPropagation="true">
                            <CancelIcon></CancelIcon>
                            Cancel
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-primary me-2" @onclick="@(() => EditClick(room.Id))" @onclick:stopPropagation="true">
                            <EditIcon></EditIcon>
                            Edit
                        </button>

                        <button class="btn btn-danger me-2" @onclick="@(() => DeleteClick(room.Id))" @onclick:stopPropagation="true">
                            <DeleteIcon></DeleteIcon>
                            Delete
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>