@page "/clients/detail/{ClientId:int}"
@layout Fnunez.VeterinaryClinic.ClinicManagement.BlazorClient.Client.Shared.MainLayout
@inherits Fnunez.VeterinaryClinic.ClinicManagement.BlazorClient.Client.Pages.Clients.ClientDetailNotificationComponent

@using Fnunez.VeterinaryClinic.ClinicManagement.BlazorClient.Client.Shared.Components.CustomCard
@using Radzen
@using Radzen.Blazor

@attribute [Authorize("RequiredReaderPolicy")]

<RadzenHeading
    Size="H1"
    Text=@StringLocalizer["ClientDetailNotification_Title"]>
</RadzenHeading>

<CustomCardComponent
    Icon="report"
    IsVisible="@IsNotFound"
    Text="@(StringLocalizer["ClientDetailNotification_RecordNotFound"])">
</CustomCardComponent>

@if (IsNotFound) { return; }

<CustomCardComponent
    Class="warning mb-3"
    Icon="warning"
    IsVisible="@IsNotActive"
    Text="@(StringLocalizer["ClientDetailNotification_RecordNotActive"])">
</CustomCardComponent>

<RadzenCard>
    <div class="row mb-3">
        <div class="col-12 col-sm-4 col-md-6 col-lg-7 col-xl-8">
            <RadzenButton
                Click="OnClickBack"
                Icon="arrow_back"
                Text=@StringLocalizer["ClientDetailNotification_Back_Button_Text"]>
            </RadzenButton>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <RadzenText
                Class="rz-color-primary-light"
                Text=@StringLocalizer["ClientDetailNotification_Label_FullName"]
                TextStyle="TextStyle.Overline">
            </RadzenText>

            <RadzenText
                TextStyle="TextStyle.Body1">
                <b>@Model.FullName</b>
            </RadzenText>
        </div>

        <div class="col-12">
            <RadzenText
                Class="rz-color-primary-light"
                Text=@StringLocalizer["ClientDetailNotification_Label_PreferredName"]
                TextStyle="TextStyle.Overline">
            </RadzenText>

            <RadzenText
                TextStyle="TextStyle.Body1">
                <b>@Model.PreferredName</b>
            </RadzenText>
        </div>

        <div class="col-12">
            <RadzenText
                Class="rz-color-primary-light"
                Text=@StringLocalizer["ClientDetailNotification_Label_Salutation"]
                TextStyle="TextStyle.Overline">
            </RadzenText>

            <RadzenText
                TextStyle="TextStyle.Body1">
                <b>@Model.Salutation</b>
            </RadzenText>
        </div>

        <div class="col-12">
            <RadzenText
                Class="rz-color-primary-light"
                Text=@StringLocalizer["ClientDetailNotification_Label_EmailAddress"]
                TextStyle="TextStyle.Overline">
            </RadzenText>

            <RadzenText
                TextStyle="TextStyle.Body1">
                <b>@Model.EmailAddress</b>
            </RadzenText>
        </div>

        <div class="col-12">
            <RadzenText
                Class="rz-color-primary-light"
                Text=@StringLocalizer["ClientDetailNotification_Label_PreferredLanguage"]
                TextStyle="TextStyle.Overline">
            </RadzenText>

            <RadzenText
                TextStyle="TextStyle.Body1">
                @switch (Model.PreferredLanguage)
                {
                    case (int)Models.Clients.PreferredLanguage.English:
                        <b>@StringLocalizer["ClientDetailNotification_PreferredLanguage_English"]</b>
                        break;
                    case (int)Models.Clients.PreferredLanguage.Spanish:
                        <b>@StringLocalizer["ClientDetailNotification_PreferredLanguage_Spanish"]</b>
                        break;
                    default:
                        throw new ArgumentException($"Not found {nameof(Model.PreferredLanguage)} with value {Model.PreferredLanguage}");
                }
            </RadzenText>
        </div>

        @if(!string.IsNullOrEmpty(Model.PreferredDoctorFullName))
        {
            <div class="col-12">
                <RadzenText
                    Class="rz-color-primary-light"
                    Text=@StringLocalizer["ClientDetailNotification_Label_PreferredDoctor"]
                    TextStyle="TextStyle.Overline">
                </RadzenText>

                <RadzenText
                    TextStyle="TextStyle.Body1">
                    <b>@Model.PreferredDoctorFullName</b>
                </RadzenText>
            </div>
        }
    </div>
</RadzenCard>